* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  z-index: 100;
}
.scrolled {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}
/* nav.scrolled{
    background-color: black;
} */
nav img {
  width: 50px;
  margin: 5px 0px 2px 30px;
}
.center-div {
  display: flex;
  /* position: static; */
  justify-content: center;
  align-items: center;
}
.section-header {
  background-color: #34c2db;
  padding: 50px;
}
.section-header h2 {
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  line-height: 5px;
  letter-spacing: 6px;
  font-size: 28px;
}
.emphasized-text {
  font-weight: bold;
}

.services {
  background-color: white;
}

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 100px 20px;
  justify-content: center;
}
.service-container {
  display: flex;
  width: 40%;
  flex-direction: row;
  margin-top: 30px;
  gap: 30px;
}

.service-image {
  width: 50%;
  height: 100px;
}
.service-content {
  display: flex;
  width: 70%;
  flex-direction: column;
}
.service-content a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
.service-content p {
  margin-top: 10px;
}

.footer-cta {
  background-color: #34c2db;
  font-family: "Lato", sans-serif;
}
.footer-cta a {
  color: black;
}

section {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 45px 50px;
  background-color: #f5f5f5;
  font-weight: 400;
  line-height: 1.6667;
}

footer p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 45px 50px;

  color: black;
}

/* Responsive layout - For mobile Devices */
@media screen and (max-width: 600px) {
    .section-header h2 {
        text-align: left;
        color: white;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        line-height: 10px;
        letter-spacing: 6px;
        font-size: 20px;
      }
  .section-header h2 {
    line-height: 25px;
    font-size: 24px;
  }
  .services-list {
    gap: 10px;
    padding: 50px 0px;
  }
  .service-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
  }
  .service-content {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .footer-cta {
    padding: 45px 50px;
  }
}

/* Responsive Layout - For Tablets */
@media (min-width: 600px) and (max-width: 1000px) {
  section {
    padding: 45px 15px;
  }
  .section-header h2 {
    line-height: 25px;
    font-size: 24px;
  }
  .services-list {
    gap: 10px;
    padding: 50px 0px;
  }
  .service-container {
    display: flex;
    width: 40%;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
  }
  .service-content {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .footer-cta {
    padding: 45px 50px;
  }
}
